<template>
  <q-page class="column justify-center">
    <div class="row justify-around">
    <h6> {{totalAmount}} ETH </h6>
    </div>
    <div class="row justify-around">
      <div class="col-5">
        <SendEthForm @getAmount="getAmount"/>
      </div>
      <div class="col-5">
        <WithdrawEthForm :amountOnWallet="totalAmount" @getAmount="getAmount"/>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';
import SendEthForm from 'components/SendEthForm.vue';
import WithdrawEthForm from 'components/WithdrawEthForm.vue';
import { ethers } from 'ethers';
import Wallet from 'app/Dapp/artifacts/contracts/Wallet.sol/Wallet.json';
import collectionConf from '../collectionConf.json';

export default defineComponent({
  name: 'IndexPage',
  components: { SendEthForm, WithdrawEthForm },
  setup() {
    const totalAmount = ref('0.0000');
    const getAmount = async () => {
      if (typeof window.ethereum !== 'undefined') {
        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
        const provider = new ethers.providers.Web3Provider(window.ethereum);
        const contract = new ethers.Contract(collectionConf.adress, Wallet.abi, provider);
        try {
          const overrides = {
            from: accounts[0],
          };
          const data = await contract.getBalance(overrides);
          const dataEth = ethers.utils.formatEther(data);
          totalAmount.value = String(dataEth);
        } catch (err) {
          // eslint-disable-next-line no-console
          console.log(err);
        }
      }
    };
    onMounted(async () => {
      await getAmount();
    });
    return { totalAmount, getAmount };
  },
});
</script>
