<template>
  <q-form
    @submit="onSubmit"
    class="row justify-around"
  >
    <div class="col-7">
      <q-input
        filled
        v-model="amount"
        label="the amount in eth"
        lazy-rules
        :rules="[val => val > 0  || 'Amount need to be positive']"
      />
    </div>
    <div class="col-4">
      <q-btn rounded label="Send" type="submit" color="primary"/>
    </div>
  </q-form>
</template>

<script>
import { ref } from 'vue';
import { ethers } from 'ethers';
import collectionConf from 'src/collectionConf.json';

export default {
  name: 'SendEthForm',
  setup(props, { emit }) {
    const amount = ref(0);
    const onSubmit = async () => {
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner();
      const tx = {
        from: accounts[0],
        to: collectionConf.adress,
        value: ethers.utils.parseEther(amount.value),
      };
      const transaction = await signer.sendTransaction(tx);
      await transaction.wait();
      emit('getAmount');
      amount.value = 0;
    };
    return {
      amount,
      onSubmit,
    };
  },
};
</script>

<style scoped>

</style>
