<template>
  <q-form
    @submit="onSubmit"
    class="row justify-around"
  >
    <div class="col-7">
    <q-input
      filled
      v-model="amount"
      label="the amount in eth"
      lazy-rules
      :rules="[ val => val >= 0  || 'Amount need to be positive',
        val => val < Number(amountOnWallet) ||
         'Amount on wallet need to be inferior than the withdraw amount']"
    />
    </div>
    <div class="col-4">
    <q-btn rounded label="Withdraw" type="submit" color="primary"/>
    </div>
  </q-form>
</template>

<script>
import { ref } from 'vue';
import { ethers } from 'ethers';
import collectionConf from 'src/collectionConf.json';
import Wallet from 'app/Dapp/artifacts/contracts/Wallet.sol/Wallet.json';

export default {
  name: 'WithdrawEthForm',
  props: {
    amountOnWallet: {
      type: Number,
      required: true,
    },
  },
  setup(props, { emit }) {
    const amount = ref(0);
    const onSubmit = async () => {
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner();
      const contract = new ethers.Contract(collectionConf.adress, Wallet.abi, signer);
      try {
        // const overrides = {
        // from: accounts[0],
        // to: collectionConf.adress,
        //  value: ethers.utils.parseEther(amount.value),
      //  };
        // eslint-disable-next-line max-len
        const transaction = await contract.withdrawMoney(accounts[0], ethers.utils.parseEther(amount.value));
        await transaction.wait();
        emit('getAmount');
        amount.value = 0;
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err);
      }
    };
    return {
      amount, onSubmit,
    };
  },
};
</script>

<style scoped>

</style>
