<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Eth wallet
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-footer elevated>
      <q-toolbar>
        <q-space/>
        <q-toolbar-title>
          <q-btn stretch flat label="Contract adress" href="https://antoinelibouban.com" target="_blank"/>
        </q-toolbar-title>
        <p>Created by <q-btn stretch flat href="https://antoinelibouban.com" target="_blank">Antoine Libouban</q-btn></p>
      </q-toolbar>
    </q-footer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'MainLayout',

  components: {},

});
</script>
